//
//  amp.xcconfig
//  amp
//
//  Created by Björn Knafla on 16.10.09.
//  Copyright 2009 Bjoern Knafla Parallelization + AI + Gamedev Consulting. All rights reserved.
//

#include "compiler_warnings"

ALWAYS_SEARCH_USER_PATHS = NO

AMP_HEADER_PATHS = "$(SRCROOT)/../../../src/c/" "$(SRCROOT)/../../../src/cpp/"

AMP_PREPROCESSOR_DEFINITIONS = AMP_USE_LIBDISPATCH_SEMAPHORES AMP_USE_PTHREADS AMP_USE_GENERIC_BROADCAST_BARRIERS
// AMP_USE_GENERIC_BROADCAST_BARRIERS 
// AMP_USE_GENERIC_SIGNAL_BARRIERS