//
//  amp_preprocessor_setting_primary.xcconfig
//  amp
//
//  Created by Björn Knafla on 04.07.10.
//  Copyright 2010 Bjoern Knafla Parallelization + AI + Gamedev Consulting. All rights reserved.
//

AMP_PREPROCESSOR_DEFINITIONS = AMP_USE_LIBDISPATCH_SEMAPHORES AMP_USE_PTHREADS AMP_USE_GENERIC_SIGNAL_BARRIERS

// AMP_USE_PTHREADS
// AMP_USE_WINTHREADS

// AMP_USE_POSIX_1003_1B_SEMAPHORES
// AMP_USE_LIBDISPATCH_SEMAPHORES
// AMP_USE_PTHREADS
// AMP_USE_WINTHREADS

// AMP_USE_WINVISTA_CONDITION_VARIABLES
// 

// AMP_USE_GENERIC_BROADCAST_BARRIERS 
// AMP_USE_GENERIC_SIGNAL_BARRIERS