//
//  amp_raw_static_library.xcconfig
//  amp
//
//  Created by Björn Knafla on 02.11.09.
//  Copyright 2009 Bjoern Knafla Parallelization + AI + Gamedev Consulting. All rights reserved.
//

#include "amp"
#include "amp_preprocessor_settings_primary"

PRODUCT_NAME = amp

GCC_PREPROCESSOR_DEFINITIONS = $(AMP_PREPROCESSOR_DEFINITIONS)
